body {
    background-color: black;
}

h1 {
    font-family: Helvetica;
    color: pink;
}

h2 {
    font-family: Helvetica;
    color:pink;
}

p {
    font-size: medium;
    color: pink;
    font-family: Helvetica;
}

.skills {
    color: pink;
    margin: 50px;
    padding: 20px;
    position: relative;
    top: -390px;
    left: 400px;

    
}

.ski {
    font-family: Helvetica;
    list-style-type: circle;
    color: pink;
   
}


a:hover {
    color: red;
}


  nav {
    display:grid;
    float:left;
  }


 #box {
    background-color: black;
    color: white;
    width: 250px;
    height: 150px;
    padding: 20px;
    border: 10px solid pink;
    margin: 50px;
  }

  #box2 {
    background-color: black;
    color: pink;
    position: relative;
    top: -390px;
    left: 400px;
    width: 250px;
    height: 150px;
    padding: 20px;
    border: 10px solid pink;
    margin: 50px;
  }

  .mainlogo {
    position: relative;
    top: 0;
    left: 250px;
  }

  .profilepic {
    position: relative;
    top: 0;
    bottom: 200px;
    right: 700px;

  }

  .name {
    margin: 50px;
    padding: 20px;
    
  }